@import "tailwindcss";

:root {
  background-color: #000000;
  color: #ffffff;
  color-scheme: dark;
}

body {
  background-color: #000000;
  color: #ffffff;
}

a:hover {
  color: #f97316 !important;
}